{% extends 'main/base.html' %}
{% block title %}Feeds{%endblock title%}
{%block content%}
        <nav class="navbar navbar-expand-md mb-5" style="background-image: linear-gradient(to left bottom, rgba(189, 195, 199, .75), rgba(44, 62, 80, .75)); background-size: 100%;">
          <div class="container"> <a class="btn btn-lg mx-1 btn-outline-dark" href="#">
              {% load static %}
              <img src="{% static 'main/images/icon.png' %}" height="30px" alt="eye">
              <b> In Gandalf </b>
            </a> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar10">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar10">
              <ul class="navbar-nav ml-auto">
              </ul><a class="btn btn-lg mx-1 btn-outline-dark" href="{% url 'create_post' %}">Create post</a>
              <a class="btn btn-lg mx-1 btn-outline-dark" href="{% url 'logout' %}">Logout</a>
            </div>
          </div>
        </nav>
    {% for post in posts %}
    <div class="container" id = "feeds">
      <div class="row d-flex justify-content-center">
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{post.title}}</h5>
              <p class="card-text">{{post.body}}</p>
              <p class="card-text"><small class="text-muted">Created at: {{post.created}}</small></p>
            </div>
            <img class="card-img-bottom" src="https://static.pingendo.com/cover-bubble-dark.svg" alt="Card image cap">
          </div>
        </div>
      </div>
    </div>
    <br/>
    {%endfor%}
{%endblock content%}