{% extends 'main/base.html' %}
{% block title %}Feeds{%endblock title%}
{%block content%}
        <nav class="navbar navbar-expand-md mb-5" style="background-image: linear-gradient(to left bottom, rgba(189, 195, 199, .75), rgba(44, 62, 80, .75)); background-size: 100%;">
          <div class="container"> <a class="btn btn-lg mx-1 btn-outline-dark" href="{% url 'welcome' %}">
              {% load static %}
              <img src="{% static 'main/images/icon.png' %}" height="30px" alt="eye">
              <b> In Gandalf </b>
            </a> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar10">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar10">
              <ul class="navbar-nav ml-auto">
              </ul><a class="btn btn-lg mx-1 btn-outline-dark" name = "create_post_btn" href="{% url 'create_post' %}">Create post</a>
              <a class="btn btn-lg mx-1 btn-outline-dark" name = "logout_btn" href="{% url 'logout' %}">Logout</a>
            </div>
          </div>
        </nav>
    {% for post in posts %}
    <div class="container" id = "feeds">
      <div class="row d-flex justify-content-center">
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{post.title}}</h5>
              <p class="card-text">{{post.body}}</p>
              <p class="card-text"><small class="text-muted">Created at: {{post.created}}</small></p>
            </div>
            <img class="card-img-bottom" src="https://static.pingendo.com/cover-bubble-dark.svg" alt="Card image cap">
                {% if post.id in already_liked %} 
                  <a role="btn"  name="{{post.id}}" style="font-size:20px;color: blue;" class="btn likin" id="likin"></i>Click to dislike : {{post.total_likes}}</a>
                {% else %}
                  <a role="btn" name="{{post.id}}" style="font-size:20px;color: black;" class="btn likin" id="likin">Click to like : {{post.total_likes}}</a>
                {% endif %}
          </div>
        </div>
      </div>
    </div>
    <br/>
    {%endfor%}
{%endblock content%}

{%block javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
// AJAX CALL
$('.likin').click(function(){
    $.ajax({
             type: "POST",
             url: "{% url 'feeds' %}",
             data: {'post_id': $(this).attr('name'),'operation':'like_submit','csrfmiddlewaretoken': '{{ csrf_token }}'},
             dataType: "json",
             success: function(response) {
              selector = document.getElementsByName(response.post_id);
              text = $(selector).text();
              index = text.lastIndexOf(":") + 1;
              val = parseInt(text.slice(index, text.length))
                    if(response.liked==true){
                      $(selector).css("color","blue");
                      $(selector).text("Click to dislike : " + (val + 1));
                    }
                    else if(response.liked==false){
                      $(selector).css("color","black");
                      $(selector).text("Click to like : " + (val - 1));
                    }
              }

        });

  })
</script>
{%endblock%}
